.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(153, 153, 153, 0.6);
    height: 6vh;
}

.search-profile-ctn{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.navbar-title{
    display: flex;
    flex-direction: row;
}

.navbar-title > h1{
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
    color: rgba(18, 18, 18, 1);
}


.search-container {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.search-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.search-input {
    width: 0;
    padding: 0;
    margin-left: 8px;
    border: none;
    outline: none;
    transition: width 0.3s ease, padding 0.3s ease;
}

.search-container.expanded .search-input {
    width: 40vw;
    padding: 5px 10px;
    border: 1px solid rgba(153, 153, 153, 1);
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding-left: 3.5rem;
    margin-left: -2rem;
}

.nav-signin{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: left;
    color: rgba(0, 103, 184, 1);    
    cursor: pointer;
}

/* 
.navbar-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 3rem 2rem;
    width: 25vw;
    height: fit-content;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 20%;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
} */

.navbar-modal {
    position: absolute;
    top: 6%; /* Adjust this value if you need more or less gap from the top */
    right: 2%; /* This ensures the modal is 6% away from the right side */
    transform: none; /* Remove the centering transform */
    background-color: white;
    padding: 3rem 2rem;
    width: 25vw;
    height: fit-content;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 4px 34px 0px rgba(153, 153, 153, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* Cover the entire width of the screen */
    bottom: 0;
}


.navbar-overlay h1{
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-size: 32px;
    font-weight: 300;
    line-height: 41.6px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.navbar-overlay  h2{
    margin: 0 0 2rem 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
    color: rgba(102, 102, 102, 1);
}

.profile-content > p{
    font-size: 18px;
    font-weight: 300;
    line-height: 23.4px;
    text-align: left;
    color: rgba(18, 18, 18, 1);    
}

.profile-content > p > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 23.4px;
    text-align: left;
    color: rgba(18, 18, 18, 1);   
    cursor: pointer; 
}

.profile-content{
    width: 100%;
    /* background-color: orange; */
    text-align: left;
}

.profile-content > hr{
    border: 0.4px solid rgba(153, 153, 153, 1)
}

.profile-container > img{
    border-radius: 50%;
}


@media screen and (max-width: 768px) {
    .search-profile-ctn{
        background-color: aqua;
    }

    .navbar-container {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: auto;
        gap: 10px; /* Adjust gap as needed */
    }
    
    .navbar-title {
        grid-column: 1 / 2;
    }
    
    

    .search-container{
        width: fit-content;
        justify-self: end;
    }


    .navbar-modal{
        width: 70vw;
        padding: 1rem 1.5rem;
        margin-left: 1rem;
    }

    .navbar-title > h1{
        display: none;
    }

    .navbar-title > img{
        width: 20px;
        height: 20px;
    }

    .navbar-modal{
        right: 5%;
    }

    .navbar-overlay h1{
        font-size: 1.5rem;
    }

    .navbar-overlay h2{
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }

    .navbar-overlay img{
        width: 40px;
        height: 40px;
    }

    .profile-content > p{
        font-size: 1rem;
    }

    .profile-content > p > a{
        font-size: 1rem;
    }

    .nav-signin{
        font-size: 1rem;
    }


    .search-container {
        justify-content: center;
    }

    .search-input {
        display: none;
    }

    .search-container.expanded .search-input {
        display: inline-block;
        width: 170px;
        padding: 4px 8px;
        border: 1px solid #ccc;
        transition: width 0.3s ease, padding 0.3s ease;
        font-size: 0.8rem;
        padding-left: 2.3rem;
        margin-right: 1rem;
    }

    .search-container > .search-icon {
        width: 15px;
        height: 15px;
    }


}