.footer-ctn{
    margin-top: 10vh;
    padding: 0.5rem 5%;
    background-color: rgba(255, 255, 255, 1);
}

.footer-props{
    width: 50%;
}

.footer-top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-top > h1{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    margin-left: 1rem;
}

.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;

}

.footer-bottom > p{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: rgba(18, 18, 18, 1);

}

.footer1 > p{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: rgba(18, 18, 18, 1);
}

.footer-images > a > img{
    margin-left: 1rem;
}

@media screen and (max-width: 768px) {
    .footer-ctn{
        overflow: hidden;
        margin: 0;
    }

    .footer-props{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0;
        margin: 0;
    }

    .footer-bottom{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }

    .footer-bottom > p{
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .footer1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }

    .footer1 > p{
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .footer-images{
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;
        background-color: aqua;
    }

    .footer-images > img{
        margin: 0;
        background-color: aqua;
        padding: 0;
    }
}